<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Purchase</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string>Write-It-Down</string>
	<key>CFBundleExecutable</key>
	<string>Ecrivez-local</string>
	<key>CFBundleIdentifier</key>
	<string>com.tobiasfu.write-it-down</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tobiasfu.write-it-down</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.tobiasfu.write-it-down</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>To attach your current location to a note.</string>
    <key>NSUserNotificationsUsageDescription</key>
    <string>Send gentle daily reminders to help you maintain a consistent writing practice and capture your thoughts.</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>Background</string>
        <key>UIImageRespectsSafeAreaInsets</key>
        <true/>
    </dict>
    <key>UILaunchScreen_Generation</key>
    <dict>
        <key>UIImageName</key>
        <string>AppIcon</string>
        <key>UIImageRespectsSafeAreaInsets</key>
        <true/>
    </dict>
</dict>
</plist>
